.accordionContainer {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.accordionTitle {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #1d70b8;
  font-family: "GDS Transport",arial,sans-serif;
  margin-bottom: 10px;
  font-weight: 400;
  padding: 10px 8px 5px 43px;
}

.accordionTitle:hover {
  text-decoration: underline;
}

.accordionTitle + .accordionContent {
  display: none;
}

.accordionTitle.is-open + .accordionContent {
  display: block;
}

.accordionExpander {
  border-bottom: 1px solid #b1b4b6;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.accordionContent {
  display: block;
  position: relative;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 5px 13px;
}

.accordionItem__accordion-icon {
  position: absolute;
  display: block;
  top: 0;
  left: 9px;
  width: 30px;
  height: 40px;
  fill: #0b0c0c;
}

.accordionItem__accordion-icon--up {
  display: none;
  position: absolute;
  top: 0;
  left: 9px;
  width: 30px;
  height: 40px;
  fill: #0b0c0c;
}

.accordionItem {
  position: relative;
  padding: 0px 8px 0px 43px;
}