{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search qualifications – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/alpha01/search-qualifications/search-results" method="post">
        {{ xGovukAutocomplete({
          id: "selected-qualification",
          name: "selected-qualification",
          allowEmpty: false,
          showAllValues: true,
          minLength: 3,
          hint: {
            text: "Start typing to show a list of matching qualifications"
          },
          label: {
            classes: "govuk-label--l",
            isPageHeading: true,
            text: "Search for a qualification"
          },
          items: qualsAutoComplete
        }) }}

        {{ govukButton({
          text: "Search qualifications"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
