{% extends "layouts/main.html" %}

{% set serviceName = "Find a regulated qualification" %}

{% block pageTitle %}
  Qualification details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <nav>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {%- from "govuk/components/tag/macro.njk" import govukTag -%}
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <h1 class="govuk-heading-m">
        Pearson Apprenticeship End-point Assessment for Warehouse Operative (Level 2)
      </h1>

      <!--form action="../search-qualifications/results-pearson" method="post" novalidate>

        {{ govukButton({
          text: "Find all Pearson qualifications"
        }) }}

      </form-->

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Qualification summary"
          },
          attributes: {
            id: "qual-summary"
          }
        },
        rows: [
          {
            key: {
              text: "Qualification type"
            },
            value: {
              text: "Apprenticeship end-point assessment"
            }
          },
          {
            key: {
              text: "Qualification level"
            },
            value: {
              text: "Entry Level: Entry 3"
            }
          },
          {
            key: {
              text: "Qualification number"
            },
            value: {
              text: "600/1946/3"
            }
          },
          {
            key: {
              text: "Guided learning hours"
            },
            value: {
              text: "120 (90 min, 150 max)"
            }
          },
          {
            key: {
              text: "Total qualification time"
            },
            value: {
              text: "360 (360 min, 400 max)"
            }
          },
          {
            key: {
              text: "Assessment methods"
            },
            value: {
              html: "Oral examination,<br/>Practical demonstration or assignment,<br/>Written examination"
            }
          },
          {
            key: {
              text: "Specification"
            },
            value: {
              html: '<a href="https://qualifications.pearson.com/en/qualifications/apprenticeship-sectors.html">View this qualification\'s specification</a>'
            }
          },
          {
            key: {
              text: "Sector subject area"
            },
            value: {
              text: "7.2 – Warehousing and distribution"
            }
          },
          {
            key: {
              text: "Grading scale"
            },
            value: {
              text: "Pass, Merit, Distinction"
            }
          },
          {
            key: {
              text: "End-point assessment standard"
            },
            value: {
              text: "Engineering operative (ST0537)"
            }
          }
        ]
      }) }}
      
      {{ govukSummaryList({
        card: {
          title: {
            text: "Organisation"
          },
          attributes: {
            id: "org"
          }
        },
        rows: [
          {
            key: {
              text: "Awarding organisation"
            },
            value: {
              html: '<a href="../search-organisations/organisation-details">Pearson Education Ltd</a>'
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Further details"
          },
          attributes: {
            id: "details"
          }
        },
        rows: [
          {
            key: {
              text: "Grading type"
            },
            value: {
              text: 'Pass or Fail'
            }
          },
          {
            key: {
              text: "UCAS points"
            },
            value: {
              text: "30"
            }
          },
          {
            key: {
              text: "Specialisms"
            },
            value: {
              text: "Construction rigging"
            }
          },
          {
            key: {
              text: "Academic entry code"
            },
            value: {
              text: "7201"
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Funding details"
          },
          attributes: {
            id: "funding-details"
          }
        },
        rows: [
          {
            key: {
              text: "Funding in England"
            },
            value: {
              html: '<a href="https://www.qualifications.education.gov.uk/Qualification/60019463">Check if this qualification is funded in England</a>'
            }
          },
          {
            key: {
              text: "Standard qualification fee"
            },
            value: {
             text: "£245"
            },
            actions: {
              items: [
                {
                  href: "#info-fees",
                  text: "information on fees"
                }
              ]
            }
          }
          ]
        }) }}
    
        {{ govukSummaryList({
          card: {
            title: {
              text: "Availability"
            },
            attributes: {
              id: "availability"
            }
          },
          rows: [
            {
              key: {
                text: "Status"
              },
              value: {
                html: '<div class="govuk-label__green">Available to learners</div>'
              }
            },
            {
              key: {
                text: "National availability"
              },
              value: {
                text: "England, Northern Ireland and International"
              }
            }
          ]
        }) }}
  
        {{ govukSummaryList({
          card: {
            title: {
              text: "Northern Ireland"
            },
            attributes: {
              id: "northern-ireland"
            }
          },
          rows: [
          {
            key: {
              text: "Available in Northern Ireland"
            },
            value: {
              html: 'Yes'
            }
          },
          {
            key: {
              text: "Funded in Northern Ireland"
            },
            value: {
              html: '<a href="https://www.education-ni.gov.uk/articles/qualifications#toc-main-skip">Check if this qualification is funded in Northern Ireland</a>'
            }
          }
        ]
        }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Additional information"
          },
          attributes: {
            id: "additional-info"
          }
        },
        rows: [
          {
            key: {
              text: "Regulation start date"
            },
            value: {
              html: '<time datetime="2023-08-30" lang="en">30 August 2023</time>'
            }
          },
          {
            key: {
              text: "Operational start date"
            },
            value: {
              html: '<time datetime="2023-09-01" lang="en">1 September 2023</time>'
            }
          },
          {
            key: {
              text: "Operational end date"
            },
            value: {
              html: '<time datetime="2033-07-01" lang="en">1 July 2033</time>'
            }
          },
          {
            key: {
              text: "Final certification date"
            },
            value: {
              html: '<time datetime="2033-07-01" lang="en">1 July 2033</time>'
            }
          },
          {
            key: {
              text: "European qualification level"
            },
            value: {
              html: "Level 3"
            }
          },
          {
            key: {
              text: "Optional routes"
            },
            value: {
              html: "Construction rigging,<br/>Crane and hoist rigging"
            }
          }
        ]
      }) }}

      

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="app-application-cards">

        <section class="app-application-card">
          <header class="app-application-card__header">
            <h2 class="govuk-heading-s">
                  Information about fees
            </h2>
          </header>

          <div class="govuk-grid-row app-grid-row--flex">
            <div class="govuk-grid-column-full">
              <div class="govuk-body-s" id="info-fees">
                The fee listed is the standard quoted fee from the awarding organisation.
                It does not necessarily mean that this is the fee you will pay as
                awarding organisations may offer discount schemes or other pricing models.
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>
{% endblock %}
