{% extends "layouts/main.html" %}

{% block pageTitle %}
  Compare qualifications – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  {% from "govuk/components/select/macro.njk" import govukSelect %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Compare qualifications</h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="comp1">
          First qualification to compare
        </label>
        <select class="govuk-select" id="comp1" name="comp1">
          {% set qualification = {} %}
          {% for key, qualification in qualsData %}
            <option value="{{ key }}" {% if loop.index0 == 0 %} selected="selected"{% endif %}{% if loop.index0 == 1 %} disabled="disabled"{% endif %}>{{ qualification.QualificationTitle }} ({{ qualification.OwnerOrganisationAcronym }})</option>
          {% endfor %}
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="comp2">
          Second qualification to compare
        </label>
        <select class="govuk-select" id="comp2" name="comp2">
          {% set qualification = {} %}
          {% for key, qualification in qualsData %}
            <option value="{{ key }}" {% if loop.index0 == 1 %} selected="selected"{% endif %}{% if loop.index0 == 0 %} disabled="disabled"{% endif %}>{{ qualification.QualificationTitle }} ({{ qualification.OwnerOrganisationAcronym }})</option>
          {% endfor %}
        </select>
      </div>

      {#  Get first 2 keys from the dictionary to set up the initial table #}
      {% set dictKeys = [] %}
      {% for key, qualification in qualsData %}

        {# Limit to just 2 loop iterations #}
        {% if loop.index0 < 2 %}
          {% set dictKeys = (dictKeys.push(key),dictKeys) %}
        {% endif %}
      {% endfor %}

      {# Note: The cells below use a custom filter (difference) to decide if the contents of the cell should be highlighted. #}
      {# It is used by passing a 2 element array to the filter. The first elements is the value that will be highlighted or not. #}
      {# The second element is the value to compare it to. It wiull always return the first element of the array, highlighted or not.#}

      
        <div class="govuk-grid-column-one-half">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key">Title</dt>
              <dd class="govuk-summary-list__value ofq-qual-table-cell-l ofq-qual-table-title" id="ofq-qual-table-cell-l-title">{{ qualsData[dictKeys[0]]['QualificationTitle'] }}</dd>
            </div>
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key">Organisation</dt>
              <dd class="govuk-summary-list__value ofq-qual-table-cell-l ofq-qual-table-org_full" id="ofq-qual-table-cell-l-org_full">{{ [qualsData[dictKeys[0]]['OwnerOrganisationName'],qualsData[dictKeys[1]]['OwnerOrganisationName']] | difference }}</dd>
            </div>
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key">Qualification type</dt>
              <dd class="govuk-summary-list__value ofq-qual-table-cell-l ofq-qual-table-type" id="ofq-qual-table-cell-l-type">{{ [ qualsData[dictKeys[0]]['QualificationType'],qualsData[dictKeys[1]]['QualificationType'] ] | difference }}</dd>
            </div>
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key">Level</dt>
              <dd class="govuk-summary-list__value ofq-qual-table-cell-l ofq-qual-table-level" id="ofq-qual-table-cell-l-level">{{ [qualsData[dictKeys[0]]['QualificationLevel'],qualsData[dictKeys[1]]['QualificationLevel']] | difference }}</dd>
            </div>
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key">Sub-level</dt>
              <dd class="govuk-summary-list__value ofq-qual-table-cell-l ofq-qual-table-sub_level" id="ofq-qual-table-cell-l-sub_level">{{ [qualsData[dictKeys[0]]['QualificationSubLevel'],qualsData[dictKeys[1]]['QualificationSubLevel']] | difference }}</dd>
            </div>
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key">Sector subject area</dt>
              <dd class="govuk-summary-list__value ofq-qual-table-cell-l ofq-qual-table-ssa" id="ofq-qual-table-cell-l-ssa">{{ [ qualsData[dictKeys[0]]['QualificationSSA'],qualsData[dictKeys[1]]['QualificationSSA'] ] | difference }}</dd>
            </div>
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key">Status</dt>
              <dd class="govuk-summary-list__value ofq-qual-table-cell-l ofq-qual-table-status" id="ofq-qual-table-cell-l-status">{{ [ qualsData[dictKeys[0]]['QualificationStatus'],qualsData[dictKeys[1]]['QualificationStatus'] ] | difference }}</dd>
            </div>
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key">Fees</dt>
              <dd class="govuk-summary-list__value ofq-qual-table-cell-l ofq-qual-table-fees" id="ofq-qual-table-cell-l-fees">£{{ [ qualsData[dictKeys[0]]['Fees'],qualsData[dictKeys[1]]['Fees'] ] | difference }}</dd>
            </div>
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key"></dt>
              <dd class="govuk-summary-list__value"></dd>
            </div>
            <div class="govuk-summary-list_row">
              <dt class="govuk-summary-list__key"></dt>
              <dd class="govuk-summary-list__value"></dd>
            </div>
          </dl>
        </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/compare-selector.js"></script>
{% endblock %}