{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search for qualificaton – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Qualification search
      </h1>

      <p>You would normally search for qualification on this page, but it hasn't yet been prototyped.</p>

      <p>Continue to the search results page.</p>
      <form action="search-results" method="post" novalidate>
        {{ govukButton({
          text: "Continue"
        })}}

        <input type="hidden" name="ixVariant" value="{{ data.ixVariant }}" />
      </form>

    </div>
  </div>

{% endblock %}
