{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    href: "compare-qualifications-data",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<form action="/{{version}}/compare-qualifications/compare-search-qualifications-form" method="post" novalidate>

		{% if (data['errorsCompareQualificationSearch'] | length !== 0) %}

			<div aria-labelledby="error-summary-title" class="govuk-error-summary" data-module="govuk-error-summary" role="alert" tabindex="-1">
				<h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
					<div class="govuk-error-summary__body">
						<ul class="govuk-list govuk-error-summary__list">
						{% for item, message in data['errorsCompareQualificationSearch'] %}
							<li>
								<a href="#{{item}}">{{message}}</a>
							</li>
						{% endfor %}
						</ul>
					</div>
			</div>

		{% endif %}

                      
			<div class="govuk-form-group {% if (data['errorsCompareQualificationSearch']['compare-qualification-search-term-empty']) %} govuk-form-group--error {% endif %}">
				<h1 class="govuk-label-wrapper">
					<label class="govuk-label govuk-label--l" for="compare-qualification-search-term">
					Search qualifications to compare
					</label>
					<p id="compare-qualification-search-term-empty" class="govuk-error-message">
					<span class="govuk-visually-hidden">Error:</span> {{data['errorsCompareQualificationSearch']['compare-qualification-search-term-empty']}}</p>
				</h1>
					<input class="govuk-input {% if (data['errorsCompareQualificationSearch']['compare-qualification-search-term-empty']) %} govuk-input--error {% endif %}" id="compare-qualification-search-term" name="compare-qualification-search-term" type="text">
			</div>

			{% from "govuk/components/button/macro.njk" import govukButton %}

			{{ govukButton({
			  text: "Search qualifications"
			}) }}
		</form>
	</div>
    <div class="govuk-grid-column-one-third">

		<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
			<h2 class="govuk-heading-m" id="subsection-title">
			Subsection
			</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
				<ul class="govuk-list govuk-!-font-size-16">
					<li>
						<a href="../search-qualifications/start">
						Find a qualification
						</a>
					</li>
					<li>
						<a href="../search-organizations/start">
						Find an awarding organization
						</a>
					</li>
					<li>
						<a href="#" class="govuk-!-font-weight-bold">
						More <span class="govuk-visually-hidden">in Subsection</span>
						</a>
					</li>
				</ul>
			</nav>
		</aside>

    </div>
  </div>
{% endblock %}}
