{% extends "layouts/main.html" %}

{%
  set serviceName = ''
%}

{% block pageTitle %}
Find a regulated awarding organisation – Ofqual – GOV.UK (Prototype)
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "start",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Find a regulated awarding organisation</h1>

			<p class="govuk-body">Find out if the organisation offering your qualification is regulated in England or Northern Ireland.</p>

      {{ govukButton({
        text: "Start now",
        isStartButton: true,
        href: 'search-organisations/search'
      }) }}

      {{ govukInsetText({
        html: 'You can also <a href="start-find-a-qualification">search for regulated qualifications</a>.'
      }) }}

      <h2 class="govuk-heading-m">Download information</h2>
      <p class="govuk-body">You can download CSV formatted files containing sets of information from Ofqual's Register of Regulated Qualifications.</p>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="https://find-a-qualification.services.ofqual.gov.uk/download/qualifications">Download the qualifications dataset</a></li>
        <li><a class="govuk-link" href="https://find-an-awarding-organisation.services.ofqual.gov.uk/download/organisations">Download the organisations dataset</a></li>
        <--li><a class="govuk-link" href="#">Download the units dataset</a></li>
        <li><a class="govuk-link" href="#">Download the qualification units dataset</a></li>
        <li><a class="govuk-link" href="#">Download all data from the register</a></li-->
      </ul>

      <h2 class="govuk-heading-m">Wales</h2>
      <p class="govuk-body">Find <a href="https://qualificationswales.org/english/our-work/regulating-awarding-bodies/directory-of-awarding-bodies/">awarding bodies regulated in Wales</a>.</p>

      <h2 class="govuk-heading-m">Scotland</h2>
      <p class="govuk-body">Find <a href="https://accreditation.sqa.org.uk/accreditation/Awarding_Body_Approval/Approved_Awarding_Bodies">awarding bodies regulated in Scotland</a>.</p>
	</div>
  <div class="govuk-grid-column-one-third">
    <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
      <h2 id="gem-c-related-navigation__main-heading" class="govuk-heading-s" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>
      <nav role="navigation" class="navigation" aria-labelledby="related-nav-related_items-f9fe830d" data-module="gem-toggle" data-gem-toggle-module-started="true">

        <ul class="navigation">
          <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/what-different-qualification-levels-mean" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;What qualification levels mean&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;4&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/what-different-qualification-levels-mean">What qualification levels mean</a></li>
          <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/become-apprentice" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Become an apprentice&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;2&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;4&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/become-apprentice">Become an apprentice</a></li>
          <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/courses-qualifications" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Courses and qualifications for 14 to 19 year olds&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;3&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;4&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/courses-qualifications">Courses and qualifications for 14 to 19 year olds</a></li>
          <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.4 Related content" data-track-label="/higher-education-courses-find-and-apply" data-track-options="{&quot;dimension28&quot;:&quot;4&quot;,&quot;dimension29&quot;:&quot;Higher education courses: find and apply&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;4&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;4&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/higher-education-courses-find-and-apply">Higher education courses: find and apply</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>


{% endblock %}
