{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    href: "../",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Prototype {{version}} - February 2024</h1>
			<p class="govuk-body">Theme: Final pre-production changes, modifications as a result of user-testing.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <ul class="govuk-body" id="designs">
				<li class="govuk-body">
          <div class="govuk-body"><a class="govuk-link" href="start-find-a-qualification"><strong>Service start page: Find a qualification</strong></a></div>
          <ul class="govuk-body" id="find-a-qual">
            <li class="govuk-body"><a class="govuk-link" href="search-qualifications/search">Find a qualification – search page</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-qualifications/qualification-search">Find a qualification - search results</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-qualifications/qualification-search-error">Find a qualification - search results - no results error</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-qualifications/qualification-search-no-js">Find a qualification - search results - JavaScript not available</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-qualifications/qualification-search-no-compare">Find a qualification - search results - No JS, too few quals selected to compare</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-qualifications/qualification-details">Qualification details</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-qualifications/qualification-details-full-fieldset">Qualification details – full fieldset, but nonsense data</a></li>
            <li class="govuk-body"><a class="govuk-link" href="compare-results"><strong>Compare qualifications</strong></a></li>
          </ul>
        </li>
        <li class="govuk-body">
          <div class="govuk-body"><a class="govuk-link" href="start-find-an-organisation"><strong>Service start page: Find an awarding organisation</strong></a></div>
          <ul  class="govuk-body" id="find-an-org">
            <li class="govuk-body"><a class="govuk-link" href="search-organisations/search">Find an organisation</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-organisations/search-results">Find an awarding organisation – search results</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-organisations/search-error">Find an awarding organisation – search results - no results error</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-organisations/organisation-details">Find an awarding organisation - organisation details</a></li>
          </ul>
        </li>
        <li class="govuk-body">
          <div class="govuk-body">Application error pages</div>
          <ul  class="govuk-body" id="app-errors">
            <li class="govuk-body"><a class="govuk-link" href="page-not-found-error">Page not found error</a></li>
            <li class="govuk-body"><a class="govuk-link" href="application-error">General application error</a></li>
          </ul>
        </li>
        <li class="govuk-body">
          <div class="govuk-body">GOV.UK Whitehall Publisher changes</div>
          <ul  class="govuk-body" id="whitehall">
            <li class="govuk-body"><a class="govuk-link" href="home-services">Service-based home page</a></li>
          </ul>
        </li>
        <li class="govuk-body">
          <div class="govuk-body">Future updates</div>
          <ul  class="govuk-body" id="future">
            <li class="govuk-body"><a class="govuk-link" href="search-qualifications/qualification-search-en-funding">Qualification search – with England funding details filter</a></li>
            <li class="govuk-body"><a class="govuk-link" href="search-qualifications/qualification-details-en-funding">Qualification details – with England funding details on-page</a></li>
            <li class="govuk-body"><a class="govuk-link" href="ni/start">Northern Ireland prototypes</a></li>
          </ul>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body">Changes to:
        <ul class="govuk-body">
          <li class="govuk-body">compare qualification: layout and field ordering changes, 'compare qualifications' changed to a button</li>
          <li class="govuk-body">organisation details: changed wording for scope of recognition</li>
          <li class="govuk-body">qualification search results: turned filters to a reusable component with variables for control, combined qualification level and qualification sub-level to remove some confusion</li>
          <li class="govuk-body">choose one error screen design</li>
          <li class="govuk-body">remove redundant fields for Northern Ireland and slightly altered layout to incorporate a Northern Ireland specific card in qualifications details pages</li>
          <li class="govuk-body">add a 'show all' button to both qualification and organisation search</li>
          <li class="govuk-body">make sure all qualifications details and compare qualifications pages were consistent in ordering and grouping</li>
          <li class="govuk-body">incorporate an example of comparing blank fields on the compare qualification page</li>
          <li class="govuk-body">add an alternate qualifications details page to display qualification funding status in England, for future testing</li>
          <li class="govuk-body">added a filter for England funding status</li>
          <li class="govuk-body">add Northern Ireland specific pages showing funding as a link to Education NI site or as on-page detail as well as a filter for NI funding status</li>
          <li class="govuk-body">qualification search error page: added wording for when no filters are applied</li>
        </ul>
      </p>
	</div>
</div>


{% endblock %}
