{% extends "layouts/main.html" %}

{% block pageTitle %}
Search results – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
href: "search-page",
text: "Back"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <div class="govuk-grid-column-two-thirds"></div>
    
    <h1 class="govuk-heading-l">Qualification search</h1>

    <p>Select all the qualifications you want to compare.</p>


    <div class="app-search govuk-!-margin-bottom-4">
      <form action="/applications" method="get" novalidate="">


        <div class="govuk-form-group">
          <label class="govuk-label app-search__label govuk-label--s" for="keywords">
            Search for a qualification
          </label>

          <input class="govuk-input app-search__input " id="keywords" name="keywords" type="search">

        </div>

        <button class="govuk-button app-search__button" data-module="govuk-button">
          Search
        </button>


      </form>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break">


  </div>

  <div class="govuk-grid-column-one-third">

    <div class="app-filter__header">
      <div class="app-filter__header-title">
        <h2 class="govuk-heading-m">Filter</h2>
      </div>
      <div class="app-filter__header-action">

      </div>
    </div>

    <div class="app-filter__selected">
      <div class="app-filter__selected-heading">
        <div class="app-filter__heading-title">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
          <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state"
              href="/applications/remove-all-filters">Clear filters</a></p>
        </div>
      </div>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Assessment method</h3>
      <ul class="app-filter-tags">

        <li><a class="app-filter__tag" href="/applications/remove-cycle-filter/2022 to 2023"><span
              class="govuk-visually-hidden">Remove this filter</span> Portfolio of evidence</a></li>

        <li><a class="app-filter__tag" href="/applications/remove-cycle-filter/_unchecked"><span
              class="govuk-visually-hidden">Remove this filter</span> Practical demonstration or<br> assignment</a></li>

      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
      <ul class="app-filter-tags">

        <li><a class="app-filter__tag" href="/applications/remove-cycle-filter/2022 to 2023"><span
              class="govuk-visually-hidden">Remove this filter</span> Available</a></li>

      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Awarding organisation</h3>
      <ul class="app-filter-tags">

        <li><a class="app-filter__tag" href="/applications/remove-cycle-filter/2022 to 2023"><span
              class="govuk-visually-hidden">Remove this filter</span> Pearson</a></li>

      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sector subject area</h3>
      <ul class="app-filter-tags">

        <li><a class="app-filter__tag" href="/applications/remove-cycle-filter/2022 to 2023"><span
              class="govuk-visually-hidden">Remove this filter</span> Warehousing and distribution</a></li>

      </ul>

    </div>



    <div class="accordionContainer">
      <div class="accordionExpander">
        <div class="accordionItem">
          <h3 class="accordionTitle">
            <button class="accordionItem__button" type="button">Assessment method</button>
            <div class="selected-counter"><span id="selected">0</span> selected</div>
            <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0"
              class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
              <path
                d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
              </path>
            </svg>
            <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0"
              class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
              <path
                d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
              </path>
            </svg>
          </h3>

          <div class="accordionContent">
            {{ govukCheckboxes({
            idPrefix: 'assessment-method',
            name: 'assessment-method',
            classes: "govuk-checkboxes--small",
            fieldset: {
            legend: {
            }
            },
            items: [
              {
                value: 'aural',
                text: 'Aural exam (492)'
              },
              {
                value: 'controlled-assessment',
                text: 'Task-based controlled assessment (810)'
              },
              {
                value: 'coursework',
                text: 'Coursework (1078)'
              },
              {
                value: 'E-assessment',
                text: 'E-assessment (550)'
              },
              {
                value: 'exam',
                text: 'Written exam (1386)'
              },
              {
                value: 'multiple-choice',
                text: 'Multiple choice exam (580)'
              },
              {
                value: 'oral',
                text: 'Oral exam (653)'
              },
              {
                value: 'portfolio',
                text: 'Portfolio of evidence (3301)'
              },
              {
                value: 'practical-demo',
                text: 'Practical demonstration or assignment (1316)'
              },
              {
                value: 'practical-exam',
                text: 'Practical exam (538)'
              }
            ];
            }) }}
          </div>
        </div>
      </div>

      <div class="accordionExpander">
        <div class="accordionItem">
          <h3 class="accordionTitle">Awarding organisation
            <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0"
              class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
              <path
                d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
              </path>
            </svg>
            <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0"
              class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
              <path
                d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
              </path>
            </svg>
          </h3>
          <div class="accordionContent">
            {{ govukCheckboxes({
            idPrefix: 'ao',
            name: 'ao',
            classes: "govuk-checkboxes--small",
            fieldset: {
            legend: {
            }
            },
            items: [
            {
            value: 'aqa',
            text: 'AQA (936)'
            },
            {
            value: 'ocr',
            text: 'OCR (251)'
            },
            {
            value: 'pearson',
            text: 'Pearson (3877)',
            checked: true
            },
            {
            value: 'wjec',
            text: 'WJEC-Eduqas (42)'
            }
            ]
            }) }}
          </div>
        </div>
      </div>


      <div class="accordionExpander">
        <div class="accordionItem">
          <h3 class="accordionTitle">Status
            <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0"
              class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
              <path
                d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
              </path>
            </svg>
            <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0"
              class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
              <path
                d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
              </path>
            </svg>
          </h3>
          <div class="accordionContent">
            {{ govukCheckboxes({
            idPrefix: 'status',
            name: 'status',
            classes: "govuk-checkboxes--small",
            fieldset: {
            legend: {
            }
            },
            items: [
              {
              value: 'available',
              text: 'Available (936)',
              checked: true
              },
              {
              value: 'not-awarded',
              text: 'No longer awarded (3877)'
              },
              {
              value: 'not-yet-available',
              text: 'Not available yet (42)'
              },
              {
              value: 'unavailable',
              text: 'Unavailable to new learners (251)'
              },
            ]
            }) }}
          </div>
        </div>
      </div>

      <div class="accordionExpander">
        <div class="accordionItem">
          <h3 class="accordionTitle">Sector subject area
            <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0"
              class="accordionItem__accordion-icon" aria-hidden="true" focusable="false">
              <path
                d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z">
              </path>
            </svg>
            <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="0" height="0"
              class="accordionItem__accordion-icon--up" aria-hidden="true" focusable="false">
              <path
                d="m798.16 609.84l-256-256c-16.683-16.683-43.691-16.683-60.331 0l-256 256c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.84-225.84 225.84 225.84c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331z">
              </path>
            </svg>
          </h3>
          <div class="accordionContent">
            {{ govukCheckboxes({
            idPrefix: 'ssa',
            name: 'ssa',
            classes: "govuk-checkboxes--small",
            fieldset: {
            legend: {
            }
            },
            items: [
              {
                text: '1 - Health, Public Services and Care',
                value: '1'
              },
              {
                text: '1.1 - Medicine and dentistry',
                value: '1.1'
              },
              {
                text: '1.2 - Nursing, and subjects and vocations allied to medicine',
                value: '1.2'
              },
              {
                text: '1.3 - Health and social care',
                value: '1.3'
              },
              {
                text: '1.4 - Public services',
                value: '1.4'
              },
              {
                text: '1.5 - Child development and well being',
                value: '1.5'
              },
              {
                text: '2 - Science and Mathematics',
                value: '2'
              },
              {
                text: '2.1 - Science',
                value: '2.1'
              },
              {
                text: '2.2 - Mathematics and statistics',
                value: '2.2'
              },
              {
                text: '3 - Agriculture, Horticulture and Animal Care',
                value: '3'
              },
              {
                text: '3.1 - Agriculture',
                value: '3.1'
              },
              {
                text: '3.2 - Horticulture and forestry',
                value: '3.2'
              },
              {
                text: '3.3 - Animal care and veterinary science',
                value: '3.3'
              },
              {
                text: '3.4 - Environmental conservation',
                value: '3.4'
              },
              {
                text: '4 - Engineering and Manufacturing Technologies',
                value: '4'
              },
              {
                text: '4.1 - Engineering',
                value: '4.1'
              },
              {
                text: '4.2 - Manufacturing technologies',
                value: '4.2'
              },
              {
                text: '4.3 - Transportation operations and maintenance',
                value: '4.3'
              },
              {
                text: '5 - Construction, Planning and the Built Environment',
                value: '5'
              },
              {
                text: '5.1 - Architecture',
                value: '5.1'
              },
              {
                text: '5.2 - Building and construction',
                value: '5.2'
              },
              {
                text: '5.3 - Urban, rural and regional planning',
                value: '5.3'
              },
              {
                text: '6 - Information and Communication Technology (ICT)',
                value: '6'
              },
              {
                text: '6.1 - ICT practitioners',
                value: '6.1'
              },
              {
                text: '6.2 - ICT for users',
                value: '6.2'
              },
              {
                text: '7 - Retail and Commercial Enterprise',
                value: '7'
              },
              {
                text: '7.1 - Retailing and wholesaling',
                value: '7.1'
              },
              {
                text: '7.2 - Warehousing and distribution',
                value: '7.2'
              },
              {
                text: '7.3 - Service enterprises',
                value: '7.3'
              },
              {
                text: '7.4 - Hospitality and catering',
                value: '7.4'
              },
              {
                text: '8 - Leisure, Travel and Tourism',
                value: '8'
              },
              {
                text: '8.1 - Sport, leisure and recreation',
                value: '8.1'
              },
              {
                text: '8.2 - Travel and tourism',
                value: '8.2'
              },
              {
                text: '9 - Arts, Media and Publishing',
                value: '9'
              },
              {
                text: '9.1 - Performing arts',
                value: '9.1'
              },
              {
                text: '9.2 - Crafts, creative arts and design',
                value: '9.2'
              },
              {
                text: '9.3 - Media and communication',
                value: '9.3'
              },
              {
                text: '9.4 - Publishing and information services',
                value: '9.4'
              },
              {
                text: '10 - History, Philosophy and Theology',
                value: '10'
              },
              {
                text: '10.1 - History',
                value: '10.1'
              },
              {
                text: '10.2 - Archaeology and archaeological sciences',
                value: '10.2'
              },
              {
                text: '10.3 - Philosophy',
                value: '10.3'
              },
              {
                text: '10.4 - Theology and religious studies',
                value: '10.4'
              },
              {
                text: '11 - Social Sciences',
                value: '11'
              },
              {
                text: '11.1 - Geography',
                value: '11.1'
              },
              {
                text: '11.2 - Sociology',
                value: '11.2'
              },
              {
                text: '11.3 - Politics',
                value: '11.3'
              },
              {
                text: '11.4 - Economics',
                value: '11.4'
              },
              {
                text: '11.5 - Anthropology',
                value: '11.5'
              },
              {
                text: '12 - Languages, Literature and Culture',
                value: '12'
              },
              {
                text: '12.1 - Linguistics',
                value: '12.1'
              },
              {
                text: '12.2 - Literature',
                value: '12.2'
              },
              {
                text: '12.3 - Cultural studies',
                value: '12.3'
              },
              {
                text: '12.4 - English language and literature',
                value: '12.4'
              },
              {
                text: '13 - Education and Training',
                value: '13'
              },
              {
                text: '13.1 - Teaching and lecturing',
                value: '13.1'
              },
              {
                text: '13.2 - Direct learning support',
                value: '13.2'
              },
              {
                text: '13.3 - Educational support',
                value: '13.3'
              },
              {
                text: '14 - Preparation for Life and Work',
                value: '14'
              },
              {
                text: '14.1 - Foundations for learning and life',
                value: '14.1'
              },
              {
                text: '14.2 - Preparation for work',
                value: '14.2'
              },
              {
                text: '15 - Business, Administration and Law',
                value: '15'
              },
              {
                text: '15.1 - Business management',
                value: '15.1'
              },
              {
                text: '15.2 - Marketing and sales',
                value: '15.2'
              },
              {
                text: '15.3 - Finance, banking and insurance',
                value: '15.3'
              },
              {
                text: '15.4 - Administration',
                value: '15.4'
              },
              {
                text: '15.5 - Law and legal services',
                value: '15.5'
              }
            ]
            }) }}
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <ul id="action-buttons-row" class="ofq-action-buttons--list">
      <li class="ofq-action-buttons--item">
        {{ govukButton({
          text: 'Compare selected',
          classes: 'govuk-button--primary',
          href: 'compare-results'
        }) }}
      </li>
      <li class="ofq-action-buttons--item">
        {{ govukButton({
          text: 'Save selected',
          classes: 'govuk-button--secondary ofq-button-row-element',
          href: '#'
        }) }}
      </li>
      <li class="ofq-action-buttons--item">
        {{ govukButton({
          text: 'Download results',
          classes: 'govuk-button--secondary ofq-button-row-element',
          href: '/download/download-compare'
        }) }}
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <div class="app-application-cards">

      <section class="app-application-card">
        <header class="app-application-card__header">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="qualification" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Pearson BTEC Level 2 Certificate in Warehousing and Storage Principles
            </div>
          </div>
        </header>

        <div class="govuk-grid-row app-grid-row--flex">
          <div class="govuk-grid-column-two-thirds">

            <dl class="app-application-card__list">
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
                Available to learners
              </strong>
              <dt class="govuk-visually-hidden">Course</dt>
              <dd class="govuk-body-s govuk-!-margin-bottom-1">Pearson</dd>
              <dt class="govuk-visually-hidden">Level</dt>
              <dd class="govuk-body-s govuk-!-font-size-16">
                Level 2
              </dd>

            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl class="app-application-card__list app-application-card__list--secondary">

            </dl>
          </div>
        </div>
      </section>


      <section class="app-application-card">
        <header class="app-application-card__header">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">

              <input class="govuk-checkboxes__input" id="qualification-2" name="qualification" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="qualification-2">
                Pearson Edexcel Level 2 Award in Forklift Truck Operations
            </div>
          </div>

        </header>

        <div class="govuk-grid-row app-grid-row--flex">
          <div class="govuk-grid-column-two-thirds">

            <dl class="app-application-card__list">
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
                Available to learners
              </strong>
              <dt class="govuk-visually-hidden">Course</dt>
              <dd class="govuk-body-s govuk-!-margin-bottom-1">Pearson</dd>
              <dt class="govuk-visually-hidden">Level</dt>
              <dd class="govuk-body-s govuk-!-font-size-16">
                Level 2
              </dd>

            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl class="app-application-card__list app-application-card__list--secondary">

            </dl>
          </div>
        </div>
      </section>


      <section class="app-application-card">
        <header class="app-application-card__header">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">

              <input class="govuk-checkboxes__input" id="qualification-3" name="qualification" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="qualification-3">
                Pearson Edexcel Level 2 Certificate in Warehousing and Storage
            </div>
          </div>

        </header>

        <div class="govuk-grid-row app-grid-row--flex">
          <div class="govuk-grid-column-two-thirds">

            <dl class="app-application-card__list">
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
                Available to learners
              </strong>
              <dt class="govuk-visually-hidden">Course</dt>
              <dd class="govuk-body-s govuk-!-margin-bottom-1">Pearson</dd>
              <dt class="govuk-visually-hidden">Level</dt>
              <dd class="govuk-body-s govuk-!-font-size-16">
                Level 2
              </dd>

            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl class="app-application-card__list app-application-card__list--secondary">

            </dl>
          </div>
        </div>
      </section>

      <section class="app-application-card">
        <header class="app-application-card__header">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="qualification-4" name="qualification" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="qualification-4">
                Pearson Edexcel Level 1 Award in Warehousing and Storage
            </div>
          </div>

        </header>

        <div class="govuk-grid-row app-grid-row--flex">
          <div class="govuk-grid-column-two-thirds">

            <dl class="app-application-card__list">
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
                Available to learners
              </strong>
              <dt class="govuk-visually-hidden">Course</dt>
              <dd class="govuk-body-s govuk-!-margin-bottom-1">Pearson</dd>
              <dt class="govuk-visually-hidden">Level</dt>
              <dd class="govuk-body-s govuk-!-font-size-16">
                Level 1
              </dd>

            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl class="app-application-card__list app-application-card__list--secondary">

            </dl>
          </div>
        </div>
      </section>

      <section class="app-application-card">
        <header class="app-application-card__header">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="qualification-5" name="qualification" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="qualification-5">
                Pearson Edexcel Level 1 Certificate in Warehousing and Storage
            </div>
          </div>

        </header>

        <div class="govuk-grid-row app-grid-row--flex">
          <div class="govuk-grid-column-two-thirds">

            <dl class="app-application-card__list">
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
                Available to learners
              </strong>
              <dt class="govuk-visually-hidden">Course</dt>
              <dd class="govuk-body-s govuk-!-margin-bottom-1">Pearson</dd>
              <dt class="govuk-visually-hidden">Level</dt>
              <dd class="govuk-body-s govuk-!-font-size-16">
                Level 1
              </dd>

            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl class="app-application-card__list app-application-card__list--secondary">

            </dl>
          </div>
        </div>
      </section>

      <section class="app-application-card">
        <header class="app-application-card__header">
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="qualification-6" name="qualification" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="qualification-6">
                Pearson Edexcel Level 2 Certificate in Driving Goods Vehicles
            </div>
          </div>

        </header>

        <div class="govuk-grid-row app-grid-row--flex">
          <div class="govuk-grid-column-two-thirds">

            <dl class="app-application-card__list">
              <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
                Available to learners
              </strong>
              <dt class="govuk-visually-hidden">Course</dt>
              <dd class="govuk-body-s govuk-!-margin-bottom-1">Pearson</dd>
              <dt class="govuk-visually-hidden">Level</dt>
              <dd class="govuk-body-s govuk-!-font-size-16">
                Level 1
              </dd>

            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
            <dl class="app-application-card__list app-application-card__list--secondary">

            </dl>
          </div>
        </div>
      </section>

      </form>
    </div>
  </div>


  <script>
    const accordionTitles = document.querySelectorAll(".accordionTitle");

    accordionTitles.forEach(accordionTitle => {
      accordionTitle.addEventListener("click", () => {
        accordionTitle.classList.toggle("is-open")
      })
    })

    const accordionIcons = document.querySelectorAll(".accordionItem");

    accordionIcons.forEach(accordionIcon => {
      accordionIcon.addEventListener("click", () => {
        accordionIcon.classList.toggle("is-open")
      })
    })


    const selectedElm = document.getElementById('selected');

    function showChecked() {
      selectedElm.innerHTML = document.querySelectorAll('input[name=assessment-method]:checked').length;
    }

    document.querySelectorAll("input[name=assessment-method]").forEach(i => {
      i.onclick = () => showChecked();
    });


  </script>


  {% endblock %}