{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search organisations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set backLink = "/" + version + "/start" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <nav>
  {{ govukBackLink({
  text: "Back",
  href: backLink
  }) }}
  </nav>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <search>
        <form action="/{{ version }}/search-organisations/search-results" method="post">
          {{ govukInput({
            label: {
              classes: "govuk-label--l",
              isPageHeading: true,
              text: "Find a regulated awarding organisation"
            },
            id: "selected-organisation",
            name: "selected-organisation",
            allowEmpty: false,
            autocomplete: "search"
          }) }}

          {{ govukButton({
            text: "Search organisation"
          }) }}

        </form>
      </search>
    </div>
  </div>

{% endblock %}
