{% extends "layouts/main.html" %}

{% block pageTitle %}
  Search organisations – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/{{ version }}/search-organisations/search-results" method="post">
        {{ xGovukAutocomplete({
          id: "selected-organisation",
          name: "selected-organisation",
          allowEmpty: false,
          showAllValues: true,
          minLength: 2,
          hint: {
            text: "Start typing to show a list of matching organisations"
          },
          label: {
            classes: "govuk-label--l",
            isPageHeading: true,
            text: "Search for an organisation"
          },
          items: [
            { text: "Institute of Commercial Management (IOCM)" },
            { text: "Education Qualifications and Awards (EQ Awards )" },
            { text: "Training Qualifications UK Ltd (TQUK)" },
            { text: "The Institute of the Motor Industry (IMI)" },
            { text: "The London Institute of Banking & Finance (LIBF)" },
            { text: "Associated Board of the Royal Schools of Music (ABRSM)" },
            { text: "Chartered Institute of Procurement and Supply (CIPS)" },
            { text: "International Dance Teachers Association (IDTA)" },
            { text: "NCC Education Limited (NCC Education)" },
            { text: "Institute of Workplace and Facilities Management (IWFM)" },
            { text: "DSA Qualification Awarding Board (DSAQ)" },
            { text: "The Qualification Hub (TQH)" },
            { text: "Best Practice Network (BPN)" },
            { text: "NSAN (NSAN)" },
            { text: "Cambridge English (Cambridge English)" },
            { text: "Offshore Petroleum Industry NTO (OPITO)" },
            { text: "BPS Assessments and Awards Limited (BPSAA EPA)" },
            { text: "The Chartered Institution of Building Services Engineers (CIBSE)" },
            { text: "SafeCert Awards (SafeCert)" },
            { text: "Chartered Institute of Legal Executives (CILEx)" },
            { text: "South West Councils (SWC)" },
            { text: "MILITARY INDEPENDENT ASSESSMENT AUTHORITY (ROYAL NAVY) (MIAA (RN))" },
            { text: "The Army Catering Training Trust (ACTT)" },
            { text: "Summit Qualifications UK (Summit Qualifications UK)" },
            { text: "Quantum Awards Limited (QAL)" },
            { text: "Assessu (AEL)" },
            { text: "London Centre of Marketing (LCM)" },
            { text: "Science, Engineering and Manufacturing Technologies Alliance (SEMTA (SSC))" },
            { text: "FireQual (FireQual)" },
            { text: "Royal Academy of Dance (RAD)" },
            { text: "The Institute of Financial Accountants (IFA)" },
            { text: "Central Qualifications (CQ)" },
            { text: "Prince's Trust (Prince's Trust)" },
            { text: "Royal Institute of Public Health (RIPH)" },
            { text: "Elite Awarding Limited  (Elite Awarding)" },
            { text: "Steadfast Training Ltd (Steadfast EPA)" },
            { text: "The Society of Master Saddlers (UK) Ltd (SMS)" },
            { text: "Qualitrain Ltd (Good 2 Go) (G2G)" },
            { text: "Active IQ (Active IQ)" },
            { text: "Mountain Training England (MTE)" },
            { text: "Besafe Training Limited (Besafe Training Limited)" },
            { text: "IPP Education (IPPE)" },
            { text: "Chartered Institute of Marketing (CIM)" },
            { text: "VetSkill (VetSkill)" },
            { text: "Occupational Awards Limited (OAL)" },
            { text: "Chartered Institute of Environmental Health (CIEH)" },
            { text: "Institute of British Sign Language (IBSL)" },
            { text: "CITB-Construction Skills (CITB-Construction Skills)" },
            { text: "Accounting Technicians Ireland (Accounting Technicians Ireland)" },
            { text: "Logic Certification Limited (LCL Awards)" },
            { text: "Rambert Creative Contemporary Dance Grades (Rambert Grades)" },
            { text: "The Institute of Tourist Guiding (ITG)" },
            { text: "NCFE (NCFE)" },
            { text: "Chartered Institute of Building (CIOB)" },
            { text: "Crossfields Institute (CFI)" },
            { text: "Awarding UK (Part of Bishop Grosseteste University) (Awarding UK)" },
            { text: "The Learning Machine (TLM)" },
            { text: "ATHE Ltd (ATHE)" },
            { text: "WAMITAB (WAMITAB)" },
            { text: "The Gemmological Association of Great Britain (Gem-A)" },
            { text: "Skills and Education Group Awards (SEG Awards)" },
            { text: "Association of British Dispensing Opticians (ABDO)" },
            { text: "Register of Play Inspectors International (RPII)" },
            { text: "LifeSkills Solutions Ltd (LifeSkills Solutions Ltd)" },
            { text: "IOSH (IOSH)" },
            { text: "Notebook Assessment Services Ltd (NAS)" },
            { text: "Accredited Skills for Industry (ASFI)" },
            { text: "Worshipful Company of Spectacle Makers (WCSM)" },
            { text: "Agored Cymru (Agored Cymru)" },
            { text: "Engineering Construction Industry Training Board (ECITB)" },
            { text: "ABMA Education Ltd (ABMA)" },
            { text: "British Institute of Cleaning Science (BICSc)" },
            { text: "Chartered Institute of Credit Management (CICM)" },
            { text: "Explosive Learning Solutions (ELS) Ltd (ELS)" },
            { text: "SIAS (SIAS)" },
            { text: "United Centre of Excellence Limited (UCE)" },
            { text: "Gateway Qualifications Limited (Gateway Qualifications)" },
            { text: "Institute of Cast Metals Engineers (ICME)" },
            { text: "Open Awards (Open Awards)" },
            { text: "Advance HE (Advance HE)" },
            { text: "DSW Consulting (DSW)" },
            { text: "British Allied Trades Federation (BATF)" },
            { text: "Chartered Institution of Railway Operators (CIRO)" },
            { text: "FPSB UK Ltd (FPSB UK)" },
            { text: "ABE (ABE)" },
            { text: "IMI Awards Ltd (IMIAL)" },
            { text: "NHS England National School of Healthcare Science (NHS England NSHCS)" },
            { text: "British Horseracing Education and Standards Trust (BHEST)" },
            { text: "Chartered Quality Institute (CQI)" },
            { text: "Open University Awarding Body (OU)" },
            { text: "Chartered Institute for Securities & Investment (CISI)" },
            { text: "Scottish Qualifications Authority trading as SQA (SQA)" },
            { text: "Chartered Institute of Building and Chartered Institute of Housing Joint Awarding Body (CIOB - CIH)" },
            { text: "Extractives and Mineral Processing Industries Awards (EMPI Awards)" },
            { text: "Pearson Education Ltd (Pearson)" },
            { text: "GQA Qualifications Limited (GQA)" },
            { text: "AQA - City & Guilds (AQA - City & Guilds)" },
            { text: "CILIP Pathways (CILIP Pathways)" },
            { text: "City College Norwich Qualifications (CCNQ)" },
            { text: "The Market Research Society (MRS)" },
            { text: "NOCN (NOCN)" },
            { text: "NEBOSH (NEBOSH)" },
            { text: "Cambridge Assessment International Education (Cambridge International)" },
            { text: "Chartered Institute of Personnel and Development (CIPD)" },
            { text: "Network Rail (Network Rail)" },
            { text: "Fashion and Retail Awards (FARA)" },
            { text: "Newcross Healthcare Solutions (NXEPA)" },
            { text: "Gatehouse Awards Ltd (GA)" },
            { text: "British Ballet Organisation (BBO)" },
            { text: "Confederation of International Beauty Therapy and Cosmetology (CIBTAC)" },
            { text: "Royal Horticultural Society (RHS)" },
            { text: "SS Educational Services Ltd (SSES)" },
            { text: "National Plant Awards Limited (NPAL)" },
            { text: "Constructing Excellence in Learning Limited (CELL)" },
            { text: "NICEIC Certification (NICEIC)" },
            { text: "International Compliance Association (ICA)" },
            { text: "International Curriculum and Assessment Agency (Examinations) (ICAAE)" },
            { text: "Bespoke Professional Development and Training Ltd (BePro)" },
            { text: "Advance Assessments (AA)" },
            { text: "Laser Learning Awards (LASER)" },
            { text: "Professional Association of Diving Instructors (PADI)" },
            { text: "National Inter Action Trust Awarding (NIAT Awarding)" },
            { text: "University of the Arts London (UAL)" },
            { text: "Pearson EDI (Pearson EDI)" },
            { text: "The Engineering College (TEC)" },
            { text: "Lift and Escalator Industry Association (EPA0269) (L.E.I.A. )" },
            { text: "Future (Awards and Qualifications) Ltd (FAQ)" },
            { text: "English Speaking Board (International) Ltd (ESB)" },
            { text: "Royal Society for Public Health (RSPH)" },
            { text: "University of West London (UWL)" },
            { text: "Awarding Body for the Built Environment (ABBE)" },
            { text: "Association of Chartered Certified Accountants (ACCA)" },
            { text: "Open College Network Northern Ireland (OCN NI)" },
            { text: "Learning Resource Network (LRN)" },
            { text: "The Institution of Engineering and Technology (The IET)" },
            { text: "Progress Minded (PMA)" },
            { text: "Chartered Insurance Institute (CII)" },
            { text: "Highfield Qualifications (Highfield)" },
            { text: "National Examining Board for Dental Nurses (NEBDN)" },
            { text: "Qualifications and Curriculum Authority (QCA)" },
            { text: "Manpower Services Limited (MPSUK)" },
            { text: "Dental Team Qualifications (DTQ)" },
            { text: "Open College Network Yorkshire and Humber Region trading as Certa (Certa)" },
            { text: "FuturU (FuturU)" },
            { text: "Chartered Institute of Management Accountants  (CIMA)" },
            { text: "Royal College of Veterinary Surgeons (RCVS)" },
            { text: "Institute of Animal Technology (IAT)" },
            { text: "LanguageCert (LanguageCert)" },
            { text: "The Institute of Commercial Management (ICM)" },
            { text: "Flybe Awards (Flybe Awards)" },
            { text: "Royal Society for the Prevention of Accidents (RoSPA)" },
            { text: "Institute of Export & International Trade (IOE)" },
            { text: "The APM Group Limited (APMG-International)" },
            { text: "Intqual-pro Limited (IQP)" },
            { text: "RSL Awards Ltd (RSL)" },
            { text: "The London Institute of Banking & Finance (LIBF)" },
            { text: "Institute of Accountants and Bookkeepers (IAB)" },
            { text: "CIOL Qualifications (CIOLQ)" },
            { text: "YMCA Awards (YMCA)" },
            { text: "Marshall Assessment Limited (MA)" },
            { text: "Fire Risk Management Limited (FRM)" },
            { text: "Academy for Project Management LTD (Academy4PM)" },
            { text: "Chartered Management Institute (CMI)" },
            { text: "Music Teachers' Board (MTB Exams)" },
            { text: "RTITB (RTITB)" },
            { text: "British Wheel of Yoga Qualifications (BWYQ)" },
            { text: "ASET (ASET)" },
            { text: "Institute of Conservation (Icon)" },
            { text: "Focus Awards Limited (Focus Awards)" },
            { text: "Institute of Sales Professionals (ISP)" },
            { text: "Professional Assessment Ltd (PAL)" },
            { text: "Cskills Awards, part of the NOCN Group (Cskills Awards)" },
            { text: "CABWI Awarding Body (CABWI)" },
            { text: "Smart Awards Ltd  (Smart Awards)" },
            { text: "1st4sport Qualifications (1st4sport)" },
            { text: "AQA Education (AQA)" },
            { text: "NCTJ Training (NCTJ)" },
            { text: "DNA Skills (DNA Skills)" },
            { text: "Institute of Chartered Accountants of England and Wales (ICAEW)" },
            { text: "First Aid Awards Ltd (FAA)" },
            { text: "Qualifi Ltd (QUALIFI)" },
            { text: "Chartered Institute of Housing (CIH)" },
            { text: "OCR (OCR)" },
            { text: "Transcend Awards (Transcend)" },
            { text: "International Association of Maritime Institutions  (IAMI)" },
            { text: "Professional Lighting and Sound Association (PLASA)" },
            { text: "AptEd (AptEd)" },
            { text: "1st Awards Ltd (1st Awards)" },
            { text: "Imperial Society of Teachers of Dancing (ISTD)" },
            { text: "The University of Central Lancashire Examination Board (UCLanEB)" },
            { text: "LAMDA (LAMDA)" },
            { text: "Training and Development Agency for Schools (not an awarding body) (TDA)" },
            { text: "Childrens Workforce Development Council (note: not an awarding body) (CWDC)" },
            { text: "Institute of Sales Management (ISM)" },
            { text: "Council for the Curriculum, Examinations and Assessment (CCEA)" },
            { text: "telc – language tests (telc)" },
            { text: "The Institution of Fire Engineers (IFE)" },
            { text: "Achieve and Partners Limited (Achieve+Partners)" },
            { text: "Xact Assessment (Xact Assessment)" },
            { text: "SSid Awarding (SSid)" },
            { text: "Vistar Qualifications Limited (Vistar)" },
            { text: "Recruitment & Employment Confederation (REC)" },
            { text: "Institute of Leadership & Management (ILM)" },
            { text: "Association of Accounting Technicians (AAT)" },
            { text: "Council for Awards in Care, Health and Education (CACHE)" },
            { text: "A2A  Training Limited (A2A Training)" },
            { text: "Contaminated Land: Applications in Real Environments (CL:AIRE)" },
            { text: "The Institution of Civil Engineers  (ICE)" },
            { text: "Lantra Awards (Lantra Awards)" },
            { text: "Fire Industry Association Awarding Organisation (FIA)" },
            { text: "British Driving Society (BDS)" },
            { text: "CIWM (CIWM)" },
            { text: "Industry Qualifications (IQ)" },
            { text: "National Association of Teachers of Dancing (NATD)" },
            { text: "1st for EPA (1st for EPA)" },
            { text: "Advanced Analytics Solutions (AAS)" },
            { text: "Defence Awarding Organisation (DAO)" },
            { text: "Ascentis (Ascentis)" },
            { text: "Institute of Risk Standards & Qualifications (iRSQ)" },
            { text: "In2assessments (In2A)" },
            { text: "City and Guilds of London Institute (City & Guilds)" },
            { text: "Skillsfirst Awards Ltd (Skillsfirst)" },
            { text: "Excellence, Achievement & Learning Limited (EAL)" },
            { text: "NALP (NALP)" },
            { text: "The Swimming Teachers Association Limited (STA)" },
            { text: "iCan Qualifications Limited (iCQ)" },
            { text: "BHS Qualifications (BHSQ)" },
            { text: "BPEC Certification Ltd (BPEC)" },
            { text: "Worshipful Company of Farriers (WCF)" },
            { text: "PADI EMEA Limited (PADI)" },
            { text: "ICAS (ICAS)" },
            { text: "EngEPA Ltd (EngEPA)" },
            { text: "NEBOSH (NEBOSH)" },
            { text: "British Gymnastics (BG)" },
            { text: "VTCT (VTCT)" },
            { text: "Chartered Institute for Archaeologists (CIfA)" },
            { text: "Institute of Administrative Management (IAM)" },
            { text: "OCN North East Region (OCNNER)" },
            { text: "The Pensions Management Institute (PMI)" },
            { text: "Award Scheme Development and Accreditation Network (ASDAN)" },
            { text: "BIIAB (BIIAB)" },
            { text: "GP Strategies Assessment Services Limited (GPSAS)" },
            { text: "Swim England Qualifications (SEQ)" },
            { text: "Kaplan Professional Awards (KPA)" },
            { text: "Alzheimer's Society (ASAO)" },
            { text: "Chartered Institute of Internal Auditors (Chartered IIA)" },
            { text: "Qualifications for Industry (QFI)" },
            { text: "WJEC-CBAC (WJEC)" },
            { text: "Awarding Body for Vocational Achievement (AVA) Ltd (BAA)" },
            { text: "ETC Awards Limited (ETCAL)" },
            { text: "Confederation of Tourism and Hospitality (CTH)" },
            { text: "McDonalds (McDonalds)" },
            { text: "BCS, The Chartered Institute for IT (BCS)" },
            { text: "Prospect Awards CIC (Prospect Awards)" },
            { text: "safeagent (safeagents)" },
            { text: "National Logistics Training Consortium (NLTC)" },
            { text: "NPTC (NPTC)" },
            { text: "ProQual Awarding Body (ProQual)" },
            { text: "Chartered Institute of Ecology and Environmental Management (CIEEM)" },
            { text: "Open College Network West Midlands (Open College Network West Midlands)" },
            { text: "New Era Academy of Drama and Music (London) Ltd (NEA)" },
            { text: "Trinity College London (TCL)" },
            { text: "Verge EPA  (Verge EPA)" },
            { text: "OTHM Qualifications (OTHM)" },
            { text: "International Baccalaureate Organisation (IBO)" },
            { text: "Institute of Revenues Rating and Valuation (IRRV)" },
            { text: "AIM Qualifications (AIM )" },
            { text: "Autoexel Ltd (Autoexel Ltd)" },
            { text: "WJEC-EDEXCEL-CBAC (WJEC-EDEXCEL)" },
            { text: "The Chartered Institute of Logistics and Transport in the UK (CILT(UK))" },
            { text: "Qualifications Network (QNUK)" },
            { text: "Accountants Institute (AI)" },
            { text: "Associated Sports Qualifications (ASQ)" },
            { text: "PIABC Ltd (PIABC)" },
            { text: "Sheldrake Training Limited (Sheldrake)" },
            { text: "RPD Ltd (RPD)" },
            { text: "RLSS UK Qualifications (RLSS UK Qualifications)" },
            { text: "Qualsafe Awards (Qualsafe)" },
            { text: "iPET Network Limited (iPET Network)" },
            { text: "Insurance Industry Training Council (IITC)" },
            { text: "Innovate Awarding (IAO)" },
            { text: "Leadership Skills Foundation (Leadership Skills Foundation)" },
            { text: "Accelerate People Limited (AP Ltd)" },
            { text: "Railway Competence Group (RCG)" },
            { text: "University of East London Global Examinations Board (UELGB)" },
            { text: "Hospitality Awarding Body (HAB)" },
            { text: "SFJ Awards Ltd (SFJ Awards Ltd)" },
            { text: "Institute of Risk Management (IRM)" },
            { text: "FDQ Limited (FDQ)" },
            { text: "NQual (NQual)" },
            { text: "The Real Consultancy Company (TRCC)" },
            { text: "N.I. Security Qualifications Ltd (NISQ)" },
            { text: "Energy & Utilities Independent Assessment Service (EUIAS)" },
            { text: "British Safety Council (BSC)" },
            { text: "Counselling and Psychotherapy Central Awarding Body (CPCAB)" },
            { text: "Graded Qualifications Alliance (GQAL)" },
            { text: "Institute of Operations Management (IOM)" },
            { text: "The British Council (The British Council)" },
            { text: "Military Independent Assessment Authority (Royal Air Force) (MIAA (RAF))" },
            { text: "WSET Awards (WSET)" },
            { text: "MP Awards (MPQC)" },
            { text: "Insulation Environmental Training Trust Ltd (IETTL)" },
            { text: "CIPFA  (CIPFA)" },
            { text: "Education & Media Services Ltd trading as ITEC (ITEC)" },
            { text: "PAA\VQSET (PAA\VQSET)" },
            { text: "British Canoeing Awarding Body (BCAB)" },
            { text: "Suffolk County Council (SCC)" },
            { text: "Association of International Accountants (AIA)" },
            { text: "SFEDI Enterprises Ltd. T/A SFEDI Awards (SFEDI Awards)" },
            { text: "ITC First (ITC)" },
            { text: "Propertymark Qualifications (Propertymark)" },
            { text: "The Transport Planning Society (TPS)" },
            { text: "Cornwall Council (Cornwall Fire and Rescue Service) (CFRS)" },
            { text: "JMA Contract Services Ltd (JMA Contract Services Ltd)" },
            { text: "OCN London (OCNLR)" },
            { text: "Signature (Signature)" },
            { text: "Institute of Hospitality (Institute of Hospita)" },
            { text: "CFA Society of UK (CFA UK)" },
            { text: "Royal Aeronautical Society (RAeS)" },
            { text: "Institution of Mechanical Engineers (IMechE)" },
            { text: "United Kingdom Co-ordinating Group (UKCG)" },
            { text: "The Learning Institute (TLI)" },
            { text: "British Marine (BM)" },
            { text: "Systems Practitioner Assessment Ltd (SPA)" },
            { text: "Chartered Institution of Highways and Transportation (CIHT)" },
            { text: "Construction EPA Company (Construction EPA Company)" }
          ]
        }) }}

        {{ govukButton({
          text: "Search organisation"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
