{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">
		Find an awarding organization 
		</h1>

		<p>Some text about this service.</p>

			{% from "govuk/components/button/macro.njk" import govukButton %}

			{{ govukButton({
			  text: "Find an organization",
			  href: "search-organizations",
			  isStartButton: true
			}) }}

		<h2 class="govuk-heading-m">Before you start</h2>

		<p>Some other considerations before users start the journey, if applicable.</p>

	</div>

	<div class="govuk-grid-column-one-third">
		<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
			<h2 class="govuk-heading-m" id="subsection-title">
			Subsection
			</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
				<ul class="govuk-list govuk-!-font-size-16">
					<li>
						<a href="../search-qualifications/start">
						Find a qualification
						</a>
					</li>
					<li>
						<a href="../compare-qualifications/start">
						Compare up to 3 qualifications
						</a>
					</li>
					<li>
						<a href="#" class="govuk-!-font-weight-bold">
						More <span class="govuk-visually-hidden">in Subsection</span>
						</a>
					</li>
				</ul>
			</nav>
		</aside>
	</div>
</div>
{% endblock %}
