.ofq-tree{
  --spacing : 1.5rem;
  --radius  : 10px;
}

ul.ofq-tree{
	padding-left: 0;
}

ul.ofq-tree > li{
	padding-left: 0;
}

.ofq-tree li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.ofq-tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left: 0;
}