{% extends "layouts/main.html" %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
		  {{ serviceName }}
		</h1>
			<h2 class="govuk-heading-m" id="about-this-prototype">About this prototype</h2>
				<p class="govuk-body">This prototype is designed for:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						heads of department
					</li>
					<li>
						teachers
					</li>
					<li>
						exams officers
					</li>
					<li>
						programme managers
					</li>
					<li>
						students
					</li>
				</ul>
				<p class="govuk-body">It allows the user to:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						look up a qualification
					</li>
					<li>
						find an awarding organization
					</li>
					<li>
						compare qualifications
					</li>			
				</ul>

			<!--h2 class="govuk-heading-m">Background information</h2>

				<p class="govuk-body">Some info about the context of the project.</p-->

			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

			<h2 class="govuk-heading-m" id="prototypes">Prototypes</h2>

			<h3 class="govuk-heading-l" id="subsection-title">Beta 2</h3>

			<p class='govuk-body'>Theme: Minor fixes and improvements. Final prototype ahead of a live service build.</p>
			<a class='govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8' draggable='false' href='/beta2/start'>Open Beta 2 prototype</a>

			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
			
			<h3 class="govuk-heading-l" id="subsection-title">Beta</h3>

			<p class='govuk-body'>Theme: Improvements to search results filters, tidying up some presentation, add missing features from MVP</p>
			<a class='govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-8' draggable='false' href='/beta/start'>Open Beta prototype</a>

			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

			<h3 class="govuk-heading-l" id="subsection-title">Alpha</h3>

			<p class='govuk-body'>Theme: MVP presentation, basic search and compare functions</p>
			<p class='govuk-body'><a href='https://miro.com/app/board/uXjVM_wXiMk=/?share_link_id=831766577427' target='_blank' rel='noreferrer noopener'>User Research findings</a></p>
			<a class='govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-8' draggable='false' href='/alpha01/start'>Open Alpha 01 prototype</a>

			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

			<h3 class="govuk-heading-l" id="closed-alpha">Closed Alpha, pre August 2023</h3>

			{{ govukAccordion({
				id: "prototypes-pre-aug-2023",
				items: [
					{
						heading: {text: "Prototype v1 – March 2023"},
						content: {html: "<p class='govuk-body'>Theme: user journeys - flat uniform service</p>
						<!--p class='govuk-body'><a href='#' target='_blank' rel='noreferrer noopener'>User Research findings</a></p-->
						<a class='govuk-button govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8' draggable='false' href='/v1/start'>v1 start</a>"}
					},
					{
						heading: {text: "Prototype v2 – March 2023"},
						content: {html: "<p class='govuk-body'>Theme: user journeys - based on user type</p>
						<!--p class='govuk-body'><a href='#' target='_blank' rel='noreferrer noopener'>User Research findings</a></p-->
						<a class='govuk-button govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8' draggable='false' href='/v2/start'>v2 start</a>"}
					},
					{
						heading: {text: "Prototype v3 – March 2023"},
						content: {html: "<p class='govuk-body'>Theme: user journeys - based on data needs</p>
						<!--p class='govuk-body'><a href='#' target='_blank' rel='noreferrer noopener'>User Research findings</a></p-->
						<a class='govuk-button govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8' draggable='false' href='/v3/start'>v3 start</a>"}
					}
				]
			})}}
	</div>
</div>

{% endblock %}
